<!DOCTYPE html>
<html>
        <head>
            <title>Post {{post.id}}</title>
            <link rel="stylesheet" href="/static/style.css">
        </head>

        <body>

        {% if username %}
                <p>Hello <b>{{ username }} </b>! You are logged in! </p>
        {% endif %}

        <h1>Post {{post.id}}</h1>

        <div class="post"> 
            <p> <b>{{ post.author }}</b> <i>({{ post.date }})</i> </p>

            {% for paragraph in post.paragraphs %}
                <p>{{paragraph}}</p>
            {% endfor %}

        </div>

        <form method="post" action="not-yet-implemented">
        <textarea name="comment">default text</textarea>
        <button type="submit">Add a comment on this post</button>
        {% csrf-field %}
        </form>

        </body>
</html>


