h1 {
    text-align: center;
}

body {
    max-width: 100ch;
    margin: auto;
}

.post {
    border: 1px solid black;
    padding-left: 2ch;
    padding-right: 2ch;
    padding-top: 1ch;
    padding-bottom: 1ch;
    margin-bottom: 1ch;
    font-size: 1.2em;
}
