<!DOCTYPE html>
<html>
        <head>
        <title>Home page</title>
        <link rel="stylesheet" href="static/style.css">
        </head>

        <body>

        <h1>Posts</h1>

        <div>
                {{ range $i, $p := .comments }}
                <div class="post"> 
                        <p> {{ $p.Author }} {{ $p.Date }} </p>
                        <p class=>
                        {{ $p.First }}
                        </p>

                        {{ if $p.Rest }}
                                <input type="checkbox" id="toggle-{{ $i }}">
                                {{ range $p.Rest }} 
                                        <p class="hidden-paragraph">
                                                {{ . }}
                                        </p>
                                {{ end }}
                                <label for="toggle-{{ $i }}" class="more">Show more</label>
                                <label for="toggle-{{ $i }}" class="less">Show less</label>

                        {{ end }}
                </div>
                {{ end }}
        </div>

        <form method="post" action="comment">
        <textarea name="comment">default text</textarea>
        <button type="submit">Add comment</button>
        </form>

        </body>
</html>
