<!DOCTYPE html>
<html>
        <head>
        <title>Login</title>
        </head>

        <body>

        <h1>Login</h1>

        <form method="post" action="/login/post">
        <p>Username:</p>
        <input type="text" name="username" spellcheck="false" autofocus="true">
        <p>Password:</p>
        <input type="password" name="password">
        <input type="submit" value="login">
        </form>

        <h1>Register</h1>
        <p> Sorry steven. feel free to put these in separate pages </p>

        <form method="post" action="/login/register">
        <p>Username:</p>
        <input type="text" name="username" spellcheck="false" autofocus="true">
        <p>Password:</p>
        <input type="password" name="password">
        <input type="submit" value="register">
        </form>

        </body>
</html>

